html {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

.body {
    margin: 0 auto;
    font-family: 'Lato', sans-serif;
    background-image: url(../image/currency-exchange-background-image.jpg);
}